# Environments
.env
.env.*
!.env.example

# Sensitive files
*.pem
*.key
secrets/

# OS files
.DS_Store
Thumbs.db

# Verification
verification/

# Dependencies
node_modules
pnpm-lock.yaml

# Assets
screenshot_*.png
